@keyframes arrow {
  0% {
    left: -14px;
  }

  50% {
    left: -21px;
  }

  100% {
    left: -14px;
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes heart-scale {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.5;
  }
}
