@keyframes arrow {
  0% {
    transform: translateX(-3px);
  }

  50% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(-3px);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes heart-scale {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.5;
  }
}
